# Binaries
**/bin/
bin-int/
Intermediates/

# Zero files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Zero/vendor/VulkanSDK
ZeroEditor/assets/cache
scripts/__pycache__